/* CSS Reset from https://www.joshwcomeau.com/css/custom-css-reset */

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* End of CSS Reset */

:root {
  --main-background-color: #262522;
  --accent-background-color: #363531;
  --black-square-color: #739552;
  --white-square-color: #ebecd0;
  --target-square-color: #e67878;
  --inner-square-border: inset 0 0 0 3px #ffffff;
}

body {
  background-color: var(--main-background-color);
  font-family: "Noto Sans", sans-serif;
}

body .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

footer {
  color: gray;
  position: fixed;
  bottom: 10px;
  left: 0;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.square {
  display: flex;
  justify-content: center;
  position: relative;
}

/* Do hover effect on all squares except the one the knight is on */
.square:not(:has(img#knight)):not(.destination):hover {
  filter: sepia(100%) saturate(200%) hue-rotate(30deg);
  box-shadow: var(--inner-square-border);
}

.square.black {
  background-color: var(--black-square-color);
}

.square.black > .label {
  color: var(--white-square-color);
}

.square.white {
  background-color: var(--white-square-color);
}

.square.destination {
  background-color: var(--target-square-color);
  box-shadow: var(--inner-square-border);
}

.square.white > .label {
  color: var(--black-square-color);
}

.square > .label {
  font-size: 1.4rem;
  font-weight: 500;
  padding: 4px;
  position: absolute;
  user-select: none;
  z-index: 2;
}

.square > .label.rank {
  padding: 0 4px;
  top: 0;
  left: 0;
}

.square > .label.file {
  padding: 0 4px;
  bottom: -3px;
  right: 0;
}

#knight {
  -webkit-user-drag: none;
  user-drag: none;
  user-select: none;
  width: 85%;
  z-index: 10;
  margin-left: -8px;
}

#playing-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 1vw 0 10vw;
}

#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: min(65vw, 65vh);
  height: min(65vw, 65vh);
}

#move-list {
  align-self: flex-start;
  color: white;
  margin-left: 12px;
}

#move-list h2 {
  margin-bottom: 8px;
}

#move-list .move {
  display: flex;
  padding: 4px;
  gap: 24px;
  font-weight: 600;
}

#move-list .move:last-child {
  background-color: var(--accent-background-color);
}

#move-list .move .move-number {
  color: gray;
}

#instructions {
  grid-column: span 2;
  color: white;
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 4px;
}

.github-icon {
  min-width: 24px;
}

@media (max-width: 600px) {
  :root {
    --inner-square-border: inset 0 0 0 2px #ffffff;
  }

  body {
    font-size: 0.7rem;
  }

  body .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100vw;
  }

  footer {
    font-size: 0.8rem;
    font-weight: 500;
  }

  #knight {
    margin-left: -3px;
  }

  #playing-area {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    gap: 8px;
  }

  #chessboard {
    width: 100vw;
    height: 100vw;
  }

  #move-list {
    margin-left: 10px;
  }

  #move-list h2 {
    font-size: 1.2rem;
  }

  #instructions {
    text-align: center;
    margin-top: 10px;
    font-size: 0.9rem;
    grid-column: span 1;
  }

  .square > .label {
    font-size: 0.7rem;
  }

  .square > .label.rank {
    padding: 0 0px;
    top: 0;
    left: 1px;
  }

  .square > .label.file {
    padding: 0 4px;
    bottom: -2px;
    right: -2px;
  }
}
